[project]
	description = Kibana Docker image for use with Gerrit Analytics
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	read = group GerritForge
	read = group user/Luca Milanesio (lucamilanesio)
	push = group GerritForge
	push = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group GerritForge
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group GerritForge
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group GerritForge
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	read = group GerritForge
	read = group user/Luca Milanesio (lucamilanesio)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group GerritForge
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
